.headline {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #5586e1;
  padding-top: 5%;
  padding-bottom: 5%;
  gap: 5%;
}

.imageContainer {
  width: 50%;
  text-align: right;
}

.headlinePhoto {
  width: 75%;
}

.dataContainer {
  width: 50%;
}

.headlineDataNumber {
  color: #f0f5fe;
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 18px;
}

.headlineDataText {
  font-size: 18px;
  text-transform: lowercase;
  font-weight: 300;
}

/* Search Area */
.searchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #35548b;
  padding-top: 15px;
  padding-bottom: 20px;
}

.searchTitle {
  color: #f0f5fe;
  text-transform: uppercase;
  font-weight: 600;
}

.searchInputArea {
  width: 50%;
  height: 35px;
  border: 1px solid black;
  border-radius: 4px;
  padding-left: 15px;
}

/* Search Area */
